<img src="./img/logo3.png" alt="" class="nav-logo">
<a href="/" style="font-size: 25px; font-weight:600">Pijet Ena</a>
<a style="font-size: 25px; font-weight:600" href="/kang-pijat">KANG PIJAT</a>
<a style="font-size: 25px; font-weight:600" href="/login">LOGIN</a>
