<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="../../swiper-bundle.min.css">
    <link type="text/css" rel="stylesheet" href="../../style1.css">
    <link type="text/css" rel="stylesheet" href="../../style2.css">
</head>

<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs')%>
        <br><br><br><br><br>
        <!-- NAVBAR END -->
    <div>
        <h1>Input Order</h1>
        <form action="/kang-pijet/<%=`${id}`%>/order" method="post">
            Choose Date <input type="datetime-local" name="orderDate"  value=<%= (new Date()).toDateInputValue %>> <br>
            Input Duration <input type="duration" name="duration"> <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>