<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" /> -->

    <!-- Link Swiper's CSS -->
    <link type="text/css" rel="stylesheet" href="/swiper-bundle.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/style1.css">

    <!-- BOXICONS CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link type="text/css" rel="stylesheet" href="/style2.css">
    <link rel=”icon” href=”./img/logo3.png”>
    <title>Pijet Ena-Ena</title>
</head>

<body>
    <%- include('./partials/navbar-sementara-buat-login') %>
    <main style="margin-top:100px">
        <h1>Login</h1>
        <form action="/login" method="post">
            Username: <input type="text" name="username"> <br>
            Password: <input type="password" name="password"> <br>
            <input type="submit"><br>
            Doesn't have an account? <a href="/register">register here</a>
        </form>
    </main>
</body>
</html>